<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - wordNote</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
</head>
<body>
    <div id="wrapper">
        <header class="header">
            <p id="loginUser">
                Welcome @ViewData["UserName"]
            </p>
            <nav class="global-nav">
                <ul class="global-nav__list">
                    <li class="global-nav__item"><a asp-page="/Index">Home</a></li>
                    <li class="global-nav__item"><a asp-page="/Profile">Profile</a></li>
                    <li class="global-nav__item"><a asp-page="/Words/Mypage">mypage</a></li>
                    <li class="global-nav__item"><a asp-page="/Account/Login">Login</a></li>
                    <li class="global-nav__item"><a asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </nav>
            <div class="hamburger" id="js-hamburger">
                <span class="hamburger__line hamburger__line--1"></span>
                <span class="hamburger__line hamburger__line--2"></span>
                <span class="hamburger__line hamburger__line--3"></span>
            </div>
            <div class="black-bg" id="js-black-bg"></div>
            <script>function toggleNav() {
                    var body = document.body;
                    var hamburger = document.getElementById('js-hamburger');
                    var blackBg = document.getElementById('js-black-bg');

                    hamburger.addEventListener('click', function () {
                        body.classList.toggle('nav-open');
                    });
                    blackBg.addEventListener('click', function () {
                        body.classList.remove('nav-open');
                    });
                }
                toggleNav();</script>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer id="footer-design">
        <p>(c)copy right</p>
        <div id="page_top"><a href="#"></a></div>
    </footer>
    <style>
        #wrapper {
            margin-bottom: 120px; /* フッターの高さに合わせる */
            margin-top: 40px; /* フッターの高さに合わせる */
        }

        #loginUser {
            font-family: "Monad";
            text-align: left;
            font-size: 150%;
            margin: 0;
        }

        #footer-design {
            width: 100%;
            height:100px;
            background-color: #89c7de;
            color: #fff;
            text-align: center;
            position: fixed;
            bottom: 0;
        }

        #page_top {
            width: 90px;
            height: 90px;
            position: fixed;
            right: 0;
            bottom: 0;
            opacity: 1;
        }

            #page_top a {
                position: relative;
                display: block;
                width: 90px;
                height: 90px;
                text-decoration: none;
            }

                #page_top a::before {
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    content: '\f102';
                    font-size: 25px;
                    color: white;
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    top: -40px;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                    text-align: center;
                }

                #page_top a::after {
                    content: 'PAGE TOP';
                    font-size: 13px;
                    color: white;
                    position: absolute;
                    top: 45px;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                    text-align: center;
                    color: white;
                }
    </style>
    <script>
        jQuery(function () {
        var pagetop = $('#page_top');
        pagetop.hide();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {  //100pxスクロールしたら表示
                pagetop.fadeIn();
            } else {
                pagetop.fadeOut();
            }
        });
        $('a[href^="#"]').click(function () {
            var time = 500;
            var href = $(this).attr("href");
            var target = $(href == "#" ? 'html' : href);
            var distance = target.offset().top;
            $("html, body").animate({ scrollTop: distance }, time, "swing");
            return false;
        });
        });
    </script>
</body>
</html>
