@page
@model wordNote.Pages.Users.EditModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
<br/>
<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.Id" class="control-label">ユーザーID</label>
                <input asp-for="User.Id" class="form-control" />
                <span asp-validation-for="User.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label">パスワード</label>
                <input asp-for="User.Password" type="password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label">ニックネーム</label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Age" class="control-label">年齢</label>
                <input asp-for="User.Age" class="form-control" />
                <span asp-validation-for="User.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    <style>
        .container {
            text-align: center;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: center;
        }

        .main {
            text-align: center;
            display: -webkit-flex;
            display: flex;
        }

        .row {
            margin:auto;
            width: 300%;
        }
    </style>

<div>
    <button onclick="location.href='javascript:history.back()'" class="btn btn-primary">Back</button>
</div>
</body>
</html>
