@page
@model wordNote.Pages.Words.IndexModel
@{
    ViewData["UserName"] = Model.UserName;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Word.css" />
</head>
<body>
    <br/><br /><br />
<table class="table">
    <thead>
        <tr>
            <th>
                人物
            </th>
            <th>
                言葉
            </th>
            <th>
                職業
            </th>
            <th>
                年号
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Word)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Line)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Span)
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <button onclick="location.href='./Words/Create'" class="btn btn-primary">Create</button>
</p>
</body>
</html>
