@page
@model IndexModel
@{
    ViewData["Title"] = "心象を共有するノート";
}
<span></span>
<span></span>
<span></span>
<div class="text-center">
    <h1>wordNote</h1>
    <p class="main-p-text">
        大事にしたい言葉
        同じ境遇の人に伝えたい言葉
    </p>

    <div class="wrap">
        <button class="button">Write</button>
    </div>
</div>
