@page
@model wordNote.Pages.LogonModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Test.css" />
</head>
<script runat="Server">
    void objBtn_Click(Object sender, EventArgs e) {
      if(FormsAuthentication.Authenticate(usr_id.Text, usr_pass.Text)){
        FormsAuthentication.RedirectFromLoginPage(usr_id.Text,false);
      }else{
        objLbl.Text="正しいユーザーID、パスワードを入力してください";
      }
    }
</script>
<html>
<body>
    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />

    <form runat="Server">
        <center>
            <b>ID：</b>
            <asp:TextBox id="usr_id" runat="Server" Columns="10" /><br />
            <b>PASS：</b>
            <asp:TextBox id="usr_pass" runat="Server" Columns="10" TextMode="Password" />
            <br />
            <asp:Button id="objBtn" runat="Server" Text="ログイン" OnClick="objBtn_Click" /><br />
            <asp:Label id="objLbl" runat="Server" />
        </center>
    </form>
</body>
</html>