@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
    ViewData["UserName"] = Model.UserName;
}

<head>
    <link rel="stylesheet" href="~/css/Profile.css" />
</head>
<body>
    <div class="back-middle">
        <br /><br /><br /><br />
        <h1 class="main-line">Profile</h1>
        &nbsp;<img src="css/Image/Platypus.jpeg" alt="プロフィール画像">
        <br /><br /><br />
        <div class="title-line">
            <h2>自己紹介</h2>
        </div>
        <div class="p-line">
            <p>
                HN：platypus
                出身：長野県<br>
                趣味：読書、考え事、運動<br>
                職業：プログラマー志望<br>
                経験：独学二ヶ月半<br><br>
                •使用言語・ツール・スキル<br>
                C#(.NETCore),HTML,CSS,Javascript,git(github),MySQL,AWS
            </p>
        </div>
        <div class="title-line">
            <h2>ひとこと</h2>
        </div>
        <div class="p-line">
            <p>
                初めてのポートフォリオサイトです<br>
                今生はエンジニアとして生涯を終えるつもりです<br>
                トレーニングとパソコンを触ることは無限に出来ます。<br>
                よろしくお願い致します。<br><br><br><br>
            </p>
        </div>
    </div>

</body>