@font-face {
    font-family: 'myfont';
    src: url(font/timemachine-wa.ttf);
}


body {
    
    //background-size: cover;
    font-family: "myfont";
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,.16);
}

.global-nav {
    position: fixed;
    right: -320px; /* これで隠れる */
    top: 0;
    width: 300px; /* スマホに収まるくらい */
    height: 100vh;
    padding-top: 40px;
    background-color: #fff;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
    height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
    cursor: pointer;
    z-index: 300;
}

.global-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.global-nav__item {
    text-align: center;
    padding: 0 14px;
}

    .global-nav__item a {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        color: #111;
    }

        .global-nav__item a:hover {
            background-color: #eee;
        }

.hamburger__line {
    position: absolute;
    left: 11px;
    width: 18px;
    height: 1px;
    background-color: #111;
    transition: all .6s;
}

.hamburger__line--1 {
    top: 14px;
}

.hamburger__line--2 {
    top: 20px;
}

.hamburger__line--3 {
    top: 26px;
}

.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
    right: 0;
}

.nav-open .black-bg {
    opacity: .8;
    visibility: visible;
}

.nav-open .hamburger__line--1 {
    transform: rotate(45deg);
    top: 20px;
}

.nav-open .hamburger__line--2 {
    width: 0;
    left: 50%;
}

.nav-open .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 20px;
}

.form-box {
    height: 100%;
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

@font-face {
    font-family: 'myfont';
    src: url(font/timemachine-wa.ttf);
}


body {
    background-image: url('http://demo.starttemplate.com/unique-login-form/img/background.jpg');
    background-position: center;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
    font-family: 'myfont', cursive !important;
}

.container {
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff !important;
    opacity: 1; /* Firefox */
    font-size: 18px !important;
}

.form-login {
    background-color: rgba(0,0,0,0.55);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    color: black;
    box-shadow: 0 1px 0 #cfcfcf;
}

.form-control {
    background: transparent !important;
    color: black !important;
    font-size: 18px !important;
}

.row {
    margin-right: 150px;
}

h1 {
    color: black !important;
}

h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.text-white {
    color: black !important;
}

.wrapper {
    text-align: center;
}

.footer p {
    font-size: 18px;
}

